/* 425 is more common... */

/* DEFAULT 430-425 */
.homePage {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    height: 100vh;
}

.homeQuarter {
    width: 80%;
    height: 50%;
    background-color: #6ffbf477;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.homeMainDisplay {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.homeTopMain {
    border: 2px solid green;
    background-color: #555555dd;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.bottomMain {
    border: 2px solid orangered;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* CALC for fixed heights... ftw. */
    height: calc(100vh - 200px);
    overflow: auto;
}

.homeSubDisplay {
    border: 2px solid red;
    background-color: #555555dd;
    width: 100%;
    height: 100px;
}





/* NAVIGATION */
.homeNavigation {
    /* border: 2px solid gold; */
}

.homeNavigationLinks {
    /* border: 2px solid blue; */
}

.homeAddButton {
    border: 2px solid black;
    background-color: ghostwhite;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

.homeNavButton {
    display: none;
}

.homeStingrayLogo {
    display: none;
}



/* MAIN recipe display */
/* the top */
.homeSearchBar {
    /* border: 2px solid black; */
    width: 80%;
    height: 50%;
}

.homeKeywordSearch {
    /* border: 2px solid orange; */
    background-color: rgb(175, 175, 175);
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 12px;
    font-size: 20px;
    text-align: center;
}





.recipeMosaic {
    /* border: 2px solid blue; */
    width: 85%;
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(2, 1fr);
    /* This is half the height of each recipeContainer */
    grid-template-rows: repeat(auto-fill, minmax(135px, auto));
    padding: 3vh 0 3vh 0;
}

.searchReturn {
    /* border: 2px solid gold; */
}


.recipeContainer {
    /* border: 1px solid black; */
    height: 270px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 1;
    grid-row: span 2;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.recipePhoto {
    border: 2px solid grey;
    background-color: ghostwhite;
    border-radius: 50%;
    position: absolute;
    top: 0;
    width: 110px;
    height: 110px;
    box-shadow: -6px 11px 10px rgba(0, 0, 0, 0.4);
}

.cardDisplay {
    border: 2px solid limegreen;
    background-color: #dcdcdc;
    height: 95%;
    width: 100%;
    border-radius: 20px;
    transform: rotateX(20deg);
    transform-origin: bottom center;
    transform-style: preserve-3d;
    box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    perspective: 1000px;

}

.cardDetails {
    height: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.paginationBar {
    border: 2px solid yellow;
    position: fixed;
    bottom: 40px;
    display: flex;
    gap: 40px;
}




/* sub display */
.momPic {
    border: 2px solid black;
    background-color: ghostwhite;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}

.recipePreview {
    display: none;
}









/* END OF 425/430PX width */














/* small tablets and large phones */
/* portrait ipads md sm */
@media (min-width: 430px) and (max-width: 767px) {

    .homePage {
        border: 2px solid lime;
    }

}

/* END 430 lime */


/* tablets in landscape */
/* landscape ipad md to sm */
/* portrait ipad lg */
@media (min-width: 768px) and (max-width: 1023px) {

    .homePage {
        border: 2px solid blue;
    }

}

/* END 768 blue */


/* Large tablets and small computers */
@media (min-width: 1024px) and (max-width: 1365px) {

    /* large ipad landscape sm computers*/
    .homePage {
        border: 2px solid gold;
    }

}



/* large desktops and laptops */
@media (min-width: 1366px) {
    /* big ipad (landscape) small computer */


    .homePage {
        border: 2px solid maroon;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        /* Might be a problem in lower views? */
        align-items: flex-start;
        height: 100vh;
        min-height: 690px;

    }

    .homeQuarter {
        width: 40%;
        height: 50%;
        background-color: #6ffbf433;
        border-bottom-right-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }

    /* NAVIGATION */
    .homeNavigation {
        border: 2px solid lime;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 8vh 0 8vh 0;
        height: 100%;
        /* correlates with align items from .homePage */
    }

    .navigationLinks {
        border: 2px solid gold;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex: 1;
        gap: 4vh;
    }

    .newNavButton {
        border: 2px solid grey;
        width: 70px;
        height: 70px;
    }

    .stingrayLogo {
        border: solid blue;
        width: 80px;
        height: 80px;
    }




    /* MAIN display displaying recipes */
    .homeMainDisplay {
        border: 2px solid lime;
        flex: 7;
        min-height: 100vh;
        display: grid;
        grid-template-areas:
            "topMain"
            "bottomMain"
            "bottomMain"
            "bottomMain"
            "bottomMain"
        ;
        grid-template-rows: repeat(5, 1fr);
    }

    .topMain {
        border: 2px solid red;
        grid-area: topMain;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .searchBar {
        border: 2px solid green;
        width: 50%;
    }


    .bottomMain {
        border: 2px solid blue;
        grid-area: bottomMain;
        display: flex;
        /* flex-flow: column nowrap; */
        justify-content: center;
        align-items: center;
        /* justify-content: space-around; */
        /* align-items: center; */
    }

    .recipeMosaic {
        border: 2px solid yellow;
        display: grid;
        gap: 20px;
        grid-column-gap: 2vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .searchReturn {
        border: 2px solid red;
        width: 180px;
        height: 260px;
        grid-column: 1;
        grid-row: 1;
    }

    .paginationBar {
        border: 2px solid grey;
    }

    .recipeTotal {
        border: 2px solid grey;
    }



    .recipeContainer {
        /* border: 2px solid black; */
        position: relative;
        width: 180px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .recipePhoto {
        border: 2px solid grey;
        background-color: ghostwhite;
        border-radius: 50%;
        position: absolute;
        top: 0;
        width: 110px;
        height: 110px;
        box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);
    }

    .cardDisplay {
        /* border: 2px solid lime; */
        background-color: #dcdcdc;
        height: 85%;
        width: 100%;
        border-radius: 20px;
        transform: rotateX(20deg);
        transform-origin: bottom center;
        transform-style: preserve-3d;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        perspective: 1000px;
    }

    .cardDetails {
        /* border: 2px solid red; */
        height: 75%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;

    }





    .homeSubDisplay {
        border: 2px solid blue;
        flex: 3;
        /* ????? */
        height: 100%;
        /* min-height: 100vh; */
        padding: 20px 0 20px 0;
        display: flex;
        gap: 20px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .momPic {
        border: 4px solid black;
        background-color: ghostwhite;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .recipePreview {
        border: 2px solid red;
        width: 90%;
        flex: 1;
    }

    /* END 1366 magenta*/
}



























/* .keywordSearch {
        border: none;
        border-bottom: 2px solid blue;
        width: 65%;
        height: 85%;
        outline: none;
        font-size: 1.25em;
        padding-left: 10px;
    } */

/* .displayMosaic {
        border: 2px solid black;
        display: grid;
        margin: 6vw;
        grid-template-columns: repeat(2, 1fr); */
/* This is half the height of each recipeContainer */
/* grid-template-rows: repeat(auto-fill, minmax(120px, auto));
        padding: 3vh 0 3vh 0;
    } */

/* .searchReturn {
        border: 2px solid red;
        grid-column: span 1;
        grid-row: span 1;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

/* .lastSquareDiv {
        border: 2px solid red;
        grid-column: span 1;
        grid-row: span 2;
    } */

/* .recipeContainer {
        border: 1px solid black;
        height: 240px;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        grid-column: span 1;
        grid-row: span 2;
        overflow: hidden;
    } */

/* alternating columns */
/* .recipeContainer:nth-child(odd) {
        flex-direction: row-reverse;

        .recipePhoto {
            position: absolute;
            left: -35px;
        }

        .cardDisplay {
            align-items: flex-end;
        }

    }

    .recipeContainer:nth-child(even) {
        flex-direction: row;

        .recipePhoto {
            position: absolute;
            right: -35px;
        }

        .cardDisplay {
            align-items: flex-start;
        }
    } */

/* END 1024px */