/* DEFAULT 430-425 */

.detailsPage {
    /* border: 2px solid red; */
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.detailHorizontalSlide {
    /* border: 2px solid lime; */
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.detailVerticalSlide {
    /* border: 2px solid magenta; */
    height: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-align: start;
}

.detailRecipeContainer {
    /* border: 2px solid black; */
    box-shadow: 0px 0px 6px 2px var(--prime-one);
    margin: 25dvw 0dvw;
    padding: 5%;
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 5dvh;
}
.detailHorizontalSlide::-webkit-scrollbar,
.detailVerticalSlide::-webkit-scrollbar {
    display: none;
}

.detailsTopDisplay {
    /* border: 2px solid lime; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.detailPhotoItems {
    /* border: 2px solid orange; */
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* width: 65%; */
}

.detailsPhotoContainer {
    /* border: 2px solid yellow; */
    background-color: var(--prime-one);
    box-shadow: -3px 6px 7px 3px var(--shadow);
    color: var(--accent-one);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! same as homePhoto */
.detailsPhoto {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.detailGeneratedIcon {
    font-size: 90px;
}

.prepServings {
    /* border: 2px solid magenta; */
    width: 100%;
    height: 8dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.detailsPrep,
.detailsServings {
    /* border: black 2px solid; */
    background-color: var(--prime-one);
    color: var(--featherGrey);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    font-size: 16px;
    padding: 5px 10px;
    /* width: 40%; */
}

.detailTitleTags {
    /* border: 2px solid yellow; */
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    word-break: break-word;
    word-wrap: break-word;
}

.detailsTitleDisplay {
    /* border: 2px solid blue; */
    /* width: 90%; */
    font-size: 3.75dvh;
    text-align: left;
}

.tagDetails {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2dvh;
}

.addDetailButton {
    /* border: 2px solid green; */
}

.viewTags {
    /* border: 2px solid gold; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
}

.viewTags p {
    background-color: var(--prime-one);
    color: var(--featherGrey);
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
}

.detailsDescriptionParts {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.detailsMultiplier {
    /* border-top: 1px solid black; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 0;
}

.lineThrough {
    border: 0.5px solid var(--prime-one);
    position: absolute;
    width: 100%;
    z-index: 0;
}

.multiplyBtn {
    /* border: 2px solid black; */
    width: 20%;
    height: 5dvh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

}

.activateMultiply {
    /* border: 2px solid gold; */
    background: linear-gradient(to right, var(--accent-one), rgba(255, 0, 0, 0));
    border-radius: 10px;
    z-index: 0;
}

.detailDescriptionLarge {
    display: none;
}

.detailDescriptionSmall {
    /* border: 2px solid gold; */
    width: 100%;
    text-align: left;
    padding: 10px;
}

.displayIngredientSteps {
    /* border: 2px solid lime; */
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* matches the gap between everything else */
    gap: 5dvh;
}

.detailIngredients,
.detailSteps,
.detailSubRecipes {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 3dvw;
}

.ingredientHeader,
.stepsHeader,
.subRecipeHeader {
    /* border: 2px solid red; */
    border-bottom: 1px solid var(--prime-one);
    width: 100%;
    height: 4.5dvh;
    font-size: 22px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.displayRecipeIngredients,
.displayRecipeSteps,
.detailSubView {
    /* border: 2px solid red; */
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4dvw;
}

.displaySingleIngredient,
.displaySingleStep,
.displaySingleSub {
    /* border: 2px solid grey; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
}

.displayQuantity,
.displayMeasurement,
.displayIngredient {
    /* border: 2px solid green; */
    display: flex;
    justify-content: flex-start;
}

.displayQuantity {
    width: 16%;
    justify-content: center;
    height: 100%;
}

.displayMeasurement {
    width: 24%;
    justify-content: center;
    height: 100%;
}

.displayIngredient {
    flex: 1;
}

.stepNumber {
    /* border: 2px solid grey; */
    width: 10%;
    height: 100%;
    font-size: 16px;
}

.displayStep {
    /* border: 2px solid red; */
    flex: 1;
    font-size: 18px;
}

.detailSubDisplay {
    /* border: 2px solid red; */
    color: var(--prime-one);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;

}

.currentSubRecipe {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.deleteThisRecipe {
    /* border: 2px solid gold; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10dvh 0 5dvh 0;
}
.mainLink {
    border-bottom: 1px solid var(--prime-one);
}

/* Add details section */
.addViewContainer {
    /* border: 2px solid magenta; */
    background-color: var(--background-two);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100dvh;
    z-index: 10;
    padding: 26dvw 0px 4dvh 0px;
}

.quarterCircleAddView {
    /* same as quarterCircle in app.js */
    width: 60%;
    height: 50%;
    background-color: var(--background-one);
    border-bottom-right-radius: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.addBtnGroup {
    /* border: 2px solid gold; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

/* END OF 430PX */