/* DEFAULT 430-425 */
.detailsPage {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100dvh;
    overflow: scroll;
}

.detailsQuarter {
    width: 80%;
    height: 50%;
    background-color: #6ffbf477;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}


/* navigation */
.detailNavigation {
    /* border: 2px solid gold; */
    background-color: #808080cc;
    width: 100%;
    height: 10dvh;
    position: fixed;
    top: 0;
    z-index: 10;
}

.detailNavigationParts {
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detailHomeButton {
    /* border: 2px solid black; */
    color: ghostwhite;
    width: 8dvh;
    height: 8dvh;
    font-size: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1dvh;
}

.detailLogoParts {
    display: none;
}

.detailMomPhoto {
    display: none;
}

.detailStingrayLogo {
    display: none;
}







.recipeDetailsContainer {
    /* border: 2px solid magenta; */
    height: 100dvh;
    width: 90dvw;
    padding: 12dvh 0dvh 12dvh 0dvh;
    ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5dvh;
    overflow: scroll;
    scrollbar-width: none;
}
/* ! hide scroll bar */
.detailsTopDisplay {
    /* border: 2px solid lime; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.detailsTopInfo {
    /* border: 2px solid orange; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailsPhoto {
    border: 3px solid grey;
    background-color: ghostwhite;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.prepServings {
    /* border: 2px solid magenta; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prepServings p {
    border: 1px solid black;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 50%;
    height: 3.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}


.detailsBottomInfo {
    /* border: 2px solid yellow; */
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailsTitleDisplay {
    /* border: 2px solid blue; */
    width: 100%;
    font-size: 3.75dvh;
}

.tagDetails {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25vh;
}

.tagDetails p {
    background-color: ghostwhite;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
}

.detailsDescriptionParts {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.detailsDescriptionTitle {
    /* border: 2px solid blue; */
    border-bottom: grey 1px solid;
    font-size: 22px;
}

.detailsDescription {
    /* border: 2px solid gold; */
    padding: 10px;
}


/* tags and steps */
.detailsTagsAndSteps {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2dvh;
}


/* ! same view without overflow as createRecipe */
.displayRecipeIngredients,
.displayRecipeSteps {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25dvh;
    font-size: 2dvh;
    padding-left: 15px;
}

.displaySingleIngredient {
    /* border: 2px solid grey; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.displayIngredientQuantity {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

.displayIngredientMeasurement {
    /* border: 2px solid red; */
    width: 24%;
}

.displayIngredientIngredient {
    /* border: 2px solid gold; */
    flex: 1;
}

/* steps */
.displayStepItem {
    /* border: 2px solid blue; */
    /* border-bottom: 1px solid grey; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.displayStepNumber {
    /* border: 2px solid grey; */
    width: 8%;
    font-size: 1.5dvh;
}

.displayStepStep {
    /* border: 2px solid red; */
    flex: 1;
}







/* footer */
.detailsFooter {
    /* border: 2px solid gold; */
    background-color: #808080;
    width: 100%;
    height: 10dvh;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.createSubSliderButton {
    border: 1px solid black;
    border-radius: 50%;
    height: 7.5dvh;
    width: 7.5dvh;
    font-size: 2dvh;
    margin: 0 3dvh 0 3dvh;
}

.detailRecipeSlideContainer {
    /* border: 2px solid red; */
    width: 210px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.detailRecipeSubDisplay {
    /* border: 2px solid gold; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.detailRecipeSubItem {
    /* border: 1px solid green; */
    border-radius: 50%;
    flex-shrink: 0;
    width: 33%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}

.featureSub {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.25);
}

.subFeature {
    transition: transform 0.5s ease-in-out;
    transform: scale(0.75);
}









/* END OF 430PX */