/* DEFAULT 430-425 */

/* todo !!! You have to eliminate css position fixed for the forms to fit */




/* EDIT VIEWs */
/* todo ! very similar to .createSingleForm in createnewrecipe.css */
/* What is this? lol */
.detailEditView {
    border: 2px solid lime;
    height: calc(100dvh - 20dvh);
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}




/* navigation */
.detailNavigation {
    border: 2px solid gold;
    background-color: #808080cc;
    width: 100%;
    height: 10dvh;
}

.detailNavigationParts {
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detailHomeButton {
    /* border: 2px solid black; */
    color: ghostwhite;
    width: 8dvh;
    height: 8dvh;
    font-size: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1dvh;
}
.activeMode {
    color: orangered;
}

.detailLogoParts {
    display: none;
}

.detailMomPhoto {
    display: none;
}

.detailStingrayLogo {
    display: none;
}







.detailsPage {
    border: 2px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100dvh;
    width: 100dvw;
    position: relative;
}




.detailSliderContainer {
    border: 2px solid lime;
    flex: 1;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: x mandatory;
}
/* ! hide scroll bar */

.recipeDetailsScrollContainer {
    border: 2px solid magenta;
    height: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-align: start;
    padding: 20px;
}

.recipeDetailContainer {
    border: 2px solid black;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}



.detailsTopDisplay {
    /* border: 2px solid lime; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.detailsTopInfo {
    /* border: 2px solid orange; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailsPhotoContainer {
    border: 2px solid orangered;
    background-color: ghostwhite;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: -6px 11px 10px rgba(0, 0, 0, 0.4); */

}
/* ! same as homePhoto */
.detailsPhoto {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.detailGeneratedIcon {
    font-size: 90px;
}








.prepServings {
    /* border: 2px solid magenta; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prepServings p {
    border: 1px solid black;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 50%;
    height: 3.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}


.detailsBottomInfo {
    /* border: 2px solid yellow; */
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailsTitleDisplay {
    /* border: 2px solid blue; */
    width: 100%;
    font-size: 3.75dvh;
}

.tagDetails {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25vh;
}

.tagDetails p {
    background-color: ghostwhite;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
}

.detailsDescriptionParts {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.detailsDescriptionTitle {
    /* border: 2px solid blue; */
    border-bottom: grey 1px solid;
    font-size: 22px;
}

.detailsDescription {
    /* border: 2px solid gold; */
    padding: 10px;
}


/* tags and steps */
.detailsTagsAndSteps {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2dvh;
}


/* ! same view without overflow as createRecipe */
.displayRecipeIngredients,
.displayRecipeSteps {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25dvh;
    font-size: 2dvh;
    padding-left: 15px;
}

.displaySingleIngredient {
    /* border: 2px solid grey; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.displayIngredientQuantity {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

.displayIngredientMeasurement {
    /* border: 2px solid red; */
    width: 24%;
}

.displayIngredientIngredient {
    /* border: 2px solid gold; */
    flex: 1;
}

/* steps */
.displayStepItem {
    /* border: 2px solid blue; */
    /* border-bottom: 1px solid grey; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.displayStepNumber {
    /* border: 2px solid grey; */
    width: 8%;
    font-size: 1.5dvh;
}

.displayStepStep {
    /* border: 2px solid red; */
    flex: 1;
}







/* footer */
.detailsFooter {
    border: 2px solid gold;
    background-color: #808080cc;
    width: 100%;
    height: 10dvh;
    display: none;
}








/* used for reference, need to change */
.deleteModal {
    position: fixed;
    left: 200px;
    bottom: 200px;
}





/* END OF 430PX */