/* DEFAULT 430-425 */
.createPage {
    /* border: 3px solid purple; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.createQuarter {
    width: 80%;
    height: 50%;
    background-color: #6ffbf477;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}


/* NAVIGATION */
.createNavigation {
    /* border: 2px solid gold; */
    background-color: #808080cc;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 10;
}
.createNavigationParts {
    border: 2px solid blue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.createHomeButton {
    /* border: 2px solid black; */
    color: ghostwhite;
    width: 8vh;
    height: 8vh;
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
}
.createLogoParts {
    display: none;
}
.createMomPhoto {
    display: none;
}
.createStingrayLogo {
    display: none;
}



.createDisplay {
    display: none;
}


.createFormSubmission {
    /* border: 2px solid blue; */
    height: calc(100vh - 20vh);
    overflow: hidden;
}
.createForms {
    /* border: 2px solid magenta; */
    height: 100%;
    width: 100%;
    display: flex;
    /* enable horizontal scrolling */
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.createForms::-webkit-scrollbar {
    display: none;
}

.createSingleForm {
    /* border: 2px solid lime; */
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* snaps to the center */
    scroll-snap-align: center;
}

.createFormNavigation {
    background-color: #555555dd;
    /* border: 2px solid red; */
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.navigateForm {
    border: 2px solid white;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.lastNavigate {
    border: 2px solid white;
    width: 7vh;
    height: 7vh;
}
.identifyNavigate {
    box-shadow: 0px 0px 6px 3px white;
}









/* Details Form */

.createDetailsFormPage {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    display: flex;
    height: 95%;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.createDetailsTitle {
    font-size: 4.5vh;
}
.createDetailInputForm {
    /* border: 2px solid orange; */
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.createDetailsInput {
    border: none;
    background-color: lavender;
    border-radius: 20px;
    width: 75%;
    height: 4vh;
    font-size: 2.5vh;
    text-align: center;
}
.prep {
    width: 40%;
}
.createDetailsTextArea {
    border: none;
    width: 75%;
    height: 30%;
    background-color: lavender;
    border-radius: 20px;
    padding: 1.5vh;
    font-size: 1.52vh;
}
.createAddImageButton {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 4vh;
    font-size: 2vh;
}
/* create details image */
.createDetailsAddPhotoPage {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    display: flex;
    height: 95%;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.createAddPhotoDisplay {
    border: 2px solid lime;
    width: 25vh;
    height: 25vh;
}
.imageUpload {
    border: 2px solid green;
    width: 90%;
    height: 4vh;
}
.originalAddButton {
    display: none;
}
.createAddImageButton {
    border: 1px solid black;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 40%;
    height: 4vh;
    font-size: 2vh;
}

.createIconSelectors {
    border: 2px solid red;
    width: 90%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1vh;
}

.createSingleIcon {
    border: 2px solid blue;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    /* background: linear-gradient(135deg, #d4d4d4, #eaeaea, #f6f6f6, #d1d1d1, #a9a9a9, #707070); */
}
.createSingleIcon svg {
    fill: black;
}
.iconSelect {
    box-shadow: 0px 0px 6px 3px blue;
}











/* Sub Recipe Form */
.createSubRecipesFormPage {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    display: flex;
    height: 95%;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.createSubRecipesBox {
        /* border: 2px solid orange; */
        width: 100%;
        height: 85%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
}
.createSubRecipesTitle {
    font-size: 4.5vh;
}
.createSubRecipeForm {
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.addedSubRecipesBox {
    border: 1px solid grey;
    width: 100%;
    height: 25%;
    text-align: center;
    border-radius: 30px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 1.5vh;
}
.createSubRecipeInput {
    border: none;
    background-color: lavender;
    border-radius: 20px;
    width: 75%;
    height: 4vh;
    font-size: 2.25vh;
    text-align: center;
}
.filteredSubSearchContainer {
    /* border: 2px solid blue; */
    width: 100%;
    height: 40%;
}
.filteredListSubRecipes {
    /* border: 2px solid lime; */
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    gap: 1vh;
}
.filteredListSub {
    border: 2px solid grey;
    background-color: ghostwhite;
    padding: 6px;
    border-radius: 20px;
}













/* Ingredients form */
.createIngredientFormPage {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    display: flex;
    height: 95%;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.createIngredientBox {
    /* border: 2px solid orange; */
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.createIngredientTitle {
    font-size: 4.5vh;
}
.createIngredientForm {
    /* border: 2px solid gold; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1vh;
    align-items: center;
    width: 90%;
    height: 100%;
}
.createQuantityMeasurement {
    /* border: 2px solid blue; */
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.createIngredientInput {
    border: none;
    background-color: lavender;
    border-radius: 20px;
    width: 60%;
    height: 4vh;
    font-size: 2.5vh;
    text-align: center;
}
.quantity {
    width: 20%;
}
.createIngredientSelect {
    width: 60%;
    border: none;
    background-color: lavender;
    border-radius: 20px;
    height: 4vh;
    font-size: 2vh;
    text-align: center;
}
.createIngredientButton {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 4vh;
    font-size: 2vh;
}

/* ! this is the same for the finding of tags, ingredients, and subRecipes... */
.filteredIngredientSearchContainer {
    /* border: 2px solid red; */
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* ! eventually only return top X items in .jsx? */
}
.createFilteredIngredientSearch {
    /* border: 2px solid orange; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1vh;
}
.createIngredientMenuItem {
    border: 1px solid grey;
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 6px;
}

.createIngredientDisplay {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* border: 1px solid grey; */
    border-radius: 30px;
    width: 90%;
    height: 30%;
    padding: 2.5vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vh;
    overflow: auto;
    scrollbar-width: none;
}
.createIngredientItem {
    /* border: 2px solid blue; */
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.createIngredientQuantity {
    /* border: 2px solid grey; */
    width: 12%;
}
.createIngredientMeasurement {
    /* border: 2px solid red; */
    width: 24%;
}
.createIngredientIngredient {
    /* border: 2px solid gold; */
    flex: 1;
}














/* ! all form pages should start at the same height under the title... */





/* Steps form */
/* ! these first three steps should be almost identical for each form... */
.createStepsFormPage {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    display: flex;
    height: 95%;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.createStepsBox {
    /* border: 2px solid orange; */
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.createStepsTitle {
    font-size: 4.5vh;
}
.createStepsForm {
    /* border: 2px solid blue; */
    height: 35%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
/* ! Same as createDetailsTextArea... */
.createStepTextArea {
    width: 80%;
    /* this is different... */
    height: 68%;
    border: none;
    background-color: lavender;
    border-radius: 20px;
    padding: 1.5vh;
    font-size: 1.52vh;
}
/* ! same as create tag button... */
.createStepButton {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 4vh;
    font-size: 2vh;
}
.createStepsDisplay {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* border: 1px solid grey; */
    border-radius: 30px;
    width: 90%;
    height: 50%;
    padding: 2.5vh;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
}
/* ! hide scrollbar */
.createStepItem {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.createStepNumber {
    /* border: 2px solid grey; */
    width: 8%;
    font-size: 1.5vh;
}
.createStepStep {
    /* border: 2px solid red; */
    flex: 1;
}





















/* TAG FORM */
.createTagsFormPage {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    display: flex;
    height: 95%;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
/* ! titles should be all the same... */
.createTagTitle {
    /* border: 2px solid red; */
    font-size: 4.5vh;
}
.createAddedTagsContainer {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 1vh;
    width: 90%;
    height: 26%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    scrollbar-width: none;
}
/* ! hide webkit scroll bar */
.createAddedTags {
    /* border: 2px solid orange; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1vh;
}
.createAddedTag {
    border: 1px solid grey;
    /* font-size: 14px; */
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 6px;
}
.createTagPrompt {
    /* border: 2px solid pink; */
    font-size: 2.5vh;
}
.createTagInputForm {
    /* border: 2px solid green; */
    display: flex;
    width: 90%;
    height: 50%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3vh;
}
.createTagInput {
    border: none;
    background-color: lavender;
    border-radius: 20px;
    width: 60%;
    height: 4vh;
    font-size: 2.5vh;
    text-align: center;
}
.createTagButton {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 4vh;
    font-size: 2vh;
}
.filteredTagSearchContainer {
    /* border: 2px solid red; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* ! eventually only return top X items in .jsx? */
}
.createFilteredTagSearch {
    /* border: 2px solid orange; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 1vh;
}
.createTagMenuItem {
    border: 1px solid grey;
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 6px;
}




