/* DEFAULT 430-425 */
.createPage {
    /* border: 3px solid purple; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100dvh;
}


/* NAVIGATION */
.createNavigation {
    /* border: 2px solid gold; */
    background-color: #808080cc;
    width: 100%;
    height: 10dvh;
    position: fixed;
    top: 0;
    z-index: 10;
}

.createNavigationParts {
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.createHomeButton {
    /* border: 2px solid black; */
    color: ghostwhite;
    width: 8dvh;
    height: 8dvh;
    font-size: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1dvh;
}

.createLogoParts {
    display: none;
}

.createMomPhoto {
    display: none;
}

.createStingrayLogo {
    display: none;
}




.createDisplay {
    display: none;
}



/* footer */
.createFormNavigation {
    background-color: #808080cc;
    /* border: 2px solid red; */
    height: 10dvh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navigateForm {
    border: 2px solid white;
    width: 5dvh;
    height: 5dvh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.lastNavigate {
    border: 2px solid white;
    width: 7dvh;
    height: 7dvh;
}

.identifyNavigate {
    box-shadow: 0px 0px 6px 3px white;
}



/* ! ************     forms begin */
.createFooter {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 20dvh);
    overflow: hidden;
}
.createForms {
    border: 2px solid magenta;
    height: 100%;
    width: 100%;
    display: flex;
    /* enable horizontal scrolling */
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.createForms::-webkit-scrollbar {
    display: none;
}
.createSingleForm {
    border: 2px solid lime;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    /* snaps to the center */
    scroll-snap-align: center;
}







/* form boxes */
/* contains 2 elements title and box*/
.createFormPage {
    border: none;
    /* border: 2px solid blue; */
    border-radius: 30px;
    box-shadow: 0px 2px 6px 2px grey;
    height: 95%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
/* form titles */
.createFormTitle {
    /* border: 2px solid grey; */
    font-size: 4.5dvh;
}
/* total form display container */
.createFormBox {
    /* border: 2px solid gold; */
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    /* outside form, inside box */
    gap: 3dvh;
}
/* the actual forms */
.createInputForm {
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    /* inside form */
    gap: 3dvh;
}




/* form inputs...  */
.createFormInput {
    border: none;
    background-color: lavender;
    border-radius: 20px;
    width: 100%;
    height: 4dvh;
    font-size: 2.5dvh;
    text-align: center;
}
/* form add buttons */
.createAddButton {
    border: 1px solid black;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 30%;
    height: 4dvh;
    font-size: 2dvh;
}
/* form text areas */
.createFormTextArea {
    border: none;
    width: 100%;
    height: 15dvh;
    background-color: lavender;
    border-radius: 20px;
    padding: 1.5dvh;
    font-size: 1.52dvh;
}
/* form select */
.createIngredientSelect {
    /* border: none; */
    width: 100%;
    background-color: lavender;
    border-radius: 20px;
    height: 4dvh;
    font-size: 2dvh;
    text-align: center;
}


/* recipe display items on form pages */
.createRecipeDisplayItems {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* border: 1px solid grey; */
    border-radius: 30px;
    width: 90%;
    flex: 1;
    padding: 2.5dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5dvh;
    overflow: auto;
    scrollbar-width: none;
}
/* ! hide webkit scroll bar */



/* filter searching in forms */
.createFilteredContainer {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.createFilterSearch {
    /* border: 2px solid lime; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1dvh;
}

.createFilterItem {
    border: 1px solid grey;
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 6px;
}





/* form recipe list items STEPS AND INGREDIENT */
.createListItem {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* ingredients division */
.createIngredientQuantity {
    /* border: 2px solid grey; */
    width: 20%;
    text-align: center;
}

.createIngredientMeasurement {
    /* border: 2px solid red; */
    width: 20%;
}

.createIngredientIngredient {
    /* border: 2px solid gold; */
    flex: 1;
}
/* step division */
.createStepNumber {
    /* border: 2px solid grey; */
    width: 8%;
    font-size: 1.5dvh;
}

.createStepStep {
    /* border: 2px solid red; */
    flex: 1;
}





/* Details Form */
/* image */
.inputGroup {
    /* border: 2px solid gold; */
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}
.imageUpload {
    /* border: 2px solid red; */
    flex: 1;
    aspect-ratio: 1 / 1;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.originalAddButton {
    display: none;
}
.createImageLabelDisguise {
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.createPlusPhoto {
    /* border: 2px solid gold; */
    width: 10dvh;
    height: 10dvh;
    font-size: 10dvh;
    color: #e8e8e8cc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.recipeImageUpload {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* TAG FORM */
.createTagPrompt {
    /* border: 2px solid pink; */
    font-size: 2.5dvh;
}



/* Ingredients form */
.inputIngredients {
    /* border: 2px solid magenta; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1dvh;
}
.createQuantityMeasurement,
.createIngredientandAdd {
    /* border: 2px solid blue; */
    height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2dvh;
}
.createIngredientandAdd {
    flex: 3;
}
