* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* originals */
    /* --blueThree: #5e7d82; */
    --blueOne: #90abb3;
    --blueTwo: #7e97a1;
    --blueThree: #637679;
    --blueFour: #3c4b54;
    --darkRed: #622a19;
    --brickRed: #412112;
    --orange: #dd8231;
    --yellow: #fae35e;
    /* --featherGrey: #c9d8d2; */
    --steelGrey: #80766d;
    /* --darkGrey: #505857dd; */
    --black: #0c1210;
    

    /* ** used colors */
    /* nav bars */
    --darkGrey: #505857dd;
    /* input boxes */
    --featherGrey: #c9d8d2;


    /* bg colors */
    --background-blue-one: #bee5f1;
    --background-blue-two: #b4d8e3;
    --background-blue-three: #7d9599;

    /* fireGate progression */
    --fireGate0: #ffff00;
    --fireGate1: #ffd500;
    --fireGate2: #ffae00;
    --fireGate3: #ff8400;
    --fireGate4: #ff5900;
    --fireGate5: #ff3c00;


    
    /* --background-blue-one: #c7eaf4;
    --background-blue-two: #bddbe4; */




}

.burnt-offerings {
    background-color: var(--background-blue-two);
    color: var(--black)
}

a {
    text-decoration: none;
    /* color: inherit */
}


.quarterCircle {
    width: 60%;
    height: 50%;
    background-color: var(--background-blue-one);
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}