@import url(./base.css);


/* default 430px */

/* App.css */
.burnt-offerings {
    background-color: var(--background-two);
    color: var(--black)
}

.quarterCircle {
    width: 60%;
    height: 50%;
    background-color: var(--background-one);
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




/* ! BUTTONS */
/* FIRE BUTTONS */
.fireButton {
    position: relative;
    border: none;
    border-radius: 50%;
    height: 15vh;
    aspect-ratio: 1 / 1;
    z-index: 2;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--fireGate0),
        var(--fireGate1),
        var(--fireGate2),
        var(--fireGate3),
        var(--fireGate4),
        var(--fireGate5),
        var(--fireGate4),
        var(--fireGate3),
        var(--fireGate2),
        var(--fireGate1),
        var(--fireGate0));
animation: rotation 5s linear infinite;
}
.medFire {
    border-radius: 10px;
    height: 10.5dvw;
    aspect-ratio: 2 / 1;
}
.addFire {
    border-radius: 5px;
    height: 7dvw;
    aspect-ratio: 2 / 1;
}
.fireButton::after {
    content: "Create!";
    color: var(--featherGrey);
    font-size: 26px;
    position: absolute;
    inset: 0.3rem;
    z-index: 1;
    border-radius: inherit;
    background-color: var(--blueFour);
    display: flex;
    justify-content: center;
    align-items: center;
}
.medFire::after {
    content: "Save!";
    font-size: 20px;
    inset: 3px;    
}
.addFire::after {
    content: "Add";
    font-size: 18px;
    inset: 2px;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
/* have to register your animated custom value */
@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.deleteButton {
    border: 2px solid var(--yellow);
    background-color: var(--blueFour);
    color: var(--featherGrey);
    width: 6dvw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Nav bars */
.navBar {
    /* border: 2px solid orange; */
    background-color: var(--darkGrey);
    width: 100%;
    height: 10dvh;
    position: fixed;
    top: 0;
    z-index: 5;
}
.navBarParts {
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navButton {
    /* border: 2px solid black; */
    color: var(--accent-blue);
    /* height: 16dvw; */
    height: 8dvh;
    font-size: 8dvh;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1dvh;
}
.noNav {
    display: none;
}
.logoParts {
    display: none;
}
.homeMomPhoto {
    display: none;
}
.homeStingrayLogo {
    display: none;
}



