* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}






.quarterCircle {
    width: 80%;
    height: 50%;
    background-color: #6fdffb77;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

}