* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--prime-one);
}

html {
    scroll-behavior: smooth;
}


:root {
    /* DEFAULT THEMES */
    /* --prime-one: #4c500e;
    --prime-two: #c6c6af;
    --accent-one: #f0e847;
    --accent-two: #8cb9f5;
    --shadow: #3c2f0a;
    --trans-color: #363406dd;
    --blend0: #fae400;
    --blend1: #afdf4d;
    --blend2: #78dc85;
    --blend3: #41d8bd;
    --blend4: #00d4ff;
    --blend5: #00fff7; */



    /* Universal Colors */
    --background-one: #f1f1f1;
    --background-two: #e6e6e6;
    --featherGrey: #f0f0f0;
    --black: #080a0d;
    --white: #fffefb;
    --inactive: #646464;



    --prime-one: #1a4857;
    --prime-two: #c4cdda;
    --accent-one: #afd4ca;
    --accent-two: #408cff;
    --shadow: #2a1801;
    --trans-color: #0b182bdd;
    --blend0: #ecfbfe;
    --blend1: #c4f5ff;
    --blend2: #83eaff;
    --blend3: #4fccfe;
    --blend4: #2caeff;
    --blend5: #0077ff;





}