* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--prime-one);
}

html {
    scroll-behavior: smooth;
}


:root {
    /* DEFAULT THEMES */
    --background-one: #e2e6b5;
    --background-two: #d7d79f;
    --background-three: #b9ba7c;
    --prime-one: #4c500e;
    --prime-two: #bcbea1;
    --accent-one: #efe51d;
    --accent-two: #98bef0;
    --shadow: #3c2f0a;
    --trans-color: #363406dd;
    --blend0: #fae400;
    --blend1: #afdf4d;
    --blend2: #78dc85;
    --blend3: #41d8bd;
    --blend4: #00d4ff;
    --blend5: #00fff7;
    --featherGrey: #d9dcd7;
    --black: #080a0d;
    --white: #fffefb;
    --inactive: #646464;

    
    /* MARCH */
    
    --background-one: #f4fff2;
    --background-two: #e4ffdf;
    --background-three: #fffad4;
    --prime-one: #0d5408;
    --prime-two: #dfeacc;
    --accent-one: #ffef44;
    --accent-two: #86df80;
    --shadow: #200101;
    --trans-color: #1d3b19dd;
    --blend0: #fff47b;
    --blend1: #ffee2f;
    --blend2: #eaff00;
    --blend3: #99ff00;
    --blend4: #26ff00;
    --blend5: #26ff00;
    --featherGrey: #f0f0f0;
    --black: #080a0d;
    --white: #fffefb;
    --inactive: #646464;

    /* February */
    --background-one: #fff0fc;
    --background-two: #ffe4fa;
    --background-three: #ffd1f6;
    --prime-one: #610117;
    --prime-two: #ffd3f7;
    --accent-one: #87f9ff;
    --accent-two: #f653ff;
    --shadow: #030136;
    --trans-color: #500345dd;
    --blend0: #f0f0f0;
    --blend1: #ff9fd0;
    --blend2: #ff4dcf;
    --blend3: #e014ff;
    --blend4: #a812ff;
    --blend5: #6200f5;
    --featherGrey: #f0f0f0;
    --black: #080a0d;
    --white: #fffefb;
    --inactive: #646464;

    
    --background-one: #f1f1f1;
    --background-two: #e6e6e6;
    --background-three: #fff2fc;
    --prime-one: #612231;
    --prime-two: #ffd3f7;
    --accent-one: #76dbeb;
    --accent-two: #faa3fe;
    --shadow: #1d0133;
    --trans-color: #3d2038dd;
    --blend0: #f0f0f0;
    --blend1: #ff9fd0;
    --blend2: #ff4dcf;
    --blend3: #e014ff;
    --blend4: #a812ff;
    --blend5: #6200f5;
    --featherGrey: #f0f0f0;
    --black: #080a0d;
    --white: #fffefb;
    --inactive: #646464;



    /* January */
    /* --background-one: #f0f0f0;
    --background-two: #e1e1e1;
    --background-three: #fdfbe1;
    --prime-one: #3d3c3c;
    --prime-two: #d9edb7;
    --accent-one: #d50000;
    --accent-two: #f1f74c;
    --shadow: #022602;
    --trans-color: #000000dd;
    --blend0: #fff47b;
    --blend1: #ffee2f;
    --blend2: #eaff00;
    --blend3: #99ff00;
    --blend4: #26ff00;
    --blend5: #26ff00;
    --featherGrey: #f0f0f0;
    --black: #080a0d;
    --white: #fffefb;
    --inactive: #646464; */


}